.error {
	color: red;
	text-align: center;
}

.table-container {
	background-color: lightgray;
	width: 600px;
	margin: 2rem auto;
}

table {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.denomination-name {
	text-align: left;
	padding-left: 2rem;
}

th {
	font-size: 20px;
	padding: 0 0.25rem;
}

td {
	text-align: center;
}

h1 {
	text-align: center;
}

.subtitle {
	text-align: center;
}

form {
	width: 600px;
	margin: 2rem auto;
	text-align: center;
}
